*{  padding: 0;
    margin: 0;
    font-family: sans-serif;
}
/* body{
    padding: 15px;
} */
.container{
    width: 100%;
    padding-top: 15px;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #95A5A6;
}
.barnav{

    margin: auto;
    width: 90%;
    background-color: white;
    justify-content:space-between;
}
.img-logo{
    height: 60px;
    float: left;
}

nav {
    list-style-type: none;
    background-color: #EB984E;
    overflow:hidden;
    height: 60px;
    width: 100%;
    
}

ul li{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

li{
    float:left;
    font-size: 20px;
    background: transparent;
    list-style-type: none;
    
}
li a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: black;
}
a:hover{
    background:transparent;
    color: #fff;
}
.actual{
    background:transparent;
}
.submenu{
    display: none;
    position: absolute;
    overflow: hidden;
    background-color: #5F6A6A;
    width: 150px;
}
.mostrar:hover .submenu{display: block;
}
.row{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 40px 0;
}