*{padding: 0;margin: 0;}
.container{
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #95A5A6;
}
#col{
    margin: auto;
    width: 90%;
}
.img-logo{
    height: 60px;
    float: left;
}
.barnav{
    margin:auto
}
nav{
    margin: auto;
    list-style-type: none;
    background-color: #fbe4ff;
    overflow:hidden;
    height: 60px;
    width: 100%;
    /* background: linear-gradient(to right, #fc5c3d, #6a82fb); */
}
li{
    float:left;
    font-size: 20px;
    background: transparent;
    list-style-type: none;
}
li a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: black;
}
a:hover{
    background:transparent;
    color: #fff;
}
.actual{
    background:transparent;
}
.submenu{
    display: none;
    position: absolute;
    overflow: hidden;
    background-color: #fbe4ff;
    width: 150px;
}
.mostrar:hover .submenu{display: block;
}
.row{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 70px 0;
}