*{padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    margin: auto;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 20px;
    border: 10px;
    text-align: center;
    box-sizing: border-box;
    background-color: #95A5A6;
}
.col{
    margin: auto;
    width: 90%;
}
.barnav{
    width: 100%; 
    display: flex;
    align-items: center;
    margin: auto;

}
.img-logo{
    width: 70px;
    cursor: pointer;
    margin: 10px 0;

}
.menu-icon{
    width: 50px;
    cursor: pointer;
    display: none;
}

nav {
    text-align: center;
    height: 60px;
    width: 390px;
    margin: auto;
    background-color: #EDBB99;
    border-radius: 5px;
}

nav ul li{
    font-size: 20px;
    background: transparent;
    list-style-type: none;
    display: inline-block;
    
}
nav ul li a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: black;
    margin-left: 10px;
}
nav ul li a:hover{
    background:transparent;
    color: #fff;
}
.actual{
    background:transparent;
}
.submenu{
    display: none;
    position: absolute;
    overflow: hidden;
    /* background-color: #EDBB99; */
    width: 150px;
}
.mostrar:hover .submenu{display: block;
}
.container-img{
    width: 90%;
    padding: 10px;
    margin: auto;
    border: black 1px solid;

}
.container-img img{
    width: 400px;
    height: 400px;
}
.container-img hr{
    color: gray;
    opacity: 0.3;
    width: 400px;
    margin: auto;
}
.description{
    margin: auto;
    text-align: center;
    font-size: 18px;
    width: 400px;
    font-family: Patrick Hand;
}
@media only screen and (max-width:700px){

    nav{
        background-color: transparent;
    }
    nav ul{
        width: 100%;
        position: absolute;
        background-color: #EDBB99;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

}