*{  padding: 0;
    margin: 0;
    font-family: sans-serif;
}
/* body{
    padding: 15px;
} */
.container{
    width: 100%;
    padding-top: 15px;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #95A5A6;
}
.barnav{
    /* margin: auto; */
    width: 100%;
    background-color: #95A5A6;
    display: flex;
    align-items: center;

    
}
.img-logo{
    width: 70px;
    /* float: left; */
    cursor: pointer;
    margin: 10px 0;
}
.menu-icon{
    width: 50px;
    cursor: pointer;
    display: none;
}

nav {
    list-style-type: none;
    background-color: #EDBB99;
    overflow:hidden;
    height: 60px;
    width: 95%;
    margin: auto;
    border-radius: 5px;

}

li{
    float:left;
    font-size: 20px;
    background: transparent;
    list-style-type: none;
    
}
li a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: black;
    margin-left: 10px;
}
a:hover{
    background:transparent;
    color: #fff;
}
.actual{
    background:transparent;
}
.submenu{
    display: none;
    position: absolute;
    overflow: hidden;
    background-color: #EDBB99;
    width: 150px;
}
.mostrar:hover .submenu{display: block;
}
.row{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 40px 0;
}