*{padding: 0;
    margin: 0;
    font-family: sans-serif;
}
#container{
    width: 95%;
    height: 100%;
    margin: auto;
    padding: 20px;
    border: 10px;
    text-align: center;
    background-color: #95A5A6;
}
#col{
    margin: auto;
    width: 90%;
    background-color: #95A5A6;
}
.barnav{
    width: 100%; 
    display: flex;
    align-items: center;
    padding: 15px;
    /* padding-top: 15px; */
    background-color: #95A5A6;

}
.img-logo{
    width: 70px;
    cursor: pointer;
    margin: 10px 0;
}
.menu-icon{
    width: 50px;
    cursor: pointer;
    display: none;
}

nav {
    text-align: center;
    height: 60px;
    width: 390px;
    margin: auto;
    background-color: #EDBB99;
    border-radius: 5px;
}

nav ul li{
    font-size: 20px;
    background: transparent;
    list-style-type: none;
    display: inline-block;
    
}
nav ul li a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: black;
    margin-left: 10px;
}
nav ul li a:hover{
    background:transparent;
    color: #fff;
}
.actual{
    background:transparent;
}
.submenu{
    display: none;
    position: absolute;
    overflow: hidden;
    /* background-color: #EDBB99; */
    width: 150px;
}
.mostrar:hover .submenu{display: block;
}
.table{
    width: 60%;
    height: 90%;
    margin: 5px;
}
#table{
    background-color: #ecd4ff;
    height: 90%;
    margin: auto;
    padding: 10px;
    text-align: center;
}
tr{
    background-color: #B5B9FF;
    width: 30%;


}
tr img{
    height: 80%;
    width: 100%
}
td{
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    height: 30%;
}
.description{
    margin: auto;
    padding-top: 5px;
    width: 100%;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
@media only screen and (max-width:700px){

    nav{
        background-color: transparent;
    }
    nav ul{
        width: 100%;
        position: absolute;
        background-color: #EDBB99;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

}