*{  padding: 0;
    margin: 0;
    font-family:'Open Sans', sans-serif;
}
body{
    background-color:#84a6d3;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 0px;
}
a{
    color: inherit;
}
p{
    line-height: 20px;
    letter-spacing: 2px;
    text-align: justify;
}
header{
    background-color: #C3AED9;
    height: 70px;
    letter-spacing: 1px;
}
nav{
    padding-top: 20px;
    padding-right: 5px;
}
ul{
    display: inline-block;
    float: right;
    margin-top: 6px;
}
ul li{
    display: inline-block;
}
nav ul li a{
    background-color: #838392;
    text-decoration: none;
    padding: 10px;
    color: #d2dfff;
    border-radius: 5px;
}
nav ul li a:hover{
    color: #666;
}
.splash{
    width: 100%;
    min-height: 70vh;
    background: url(../img/fondo.png) center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    
}
.splash h1{
    font-size: 50px;
    float: right;
    padding-top: 125px;
    padding-right: 110px;
}
section{
    padding-top: 10px;
    width: 85%;
    margin: 0 auto;
    min-height: 85vh;
}
.card{
    width: 45%;
    float: left;
    margin-top: 15vh;
}

footer{
    background-color: #263238;
    height: 200px;
}
footer p{
    text-align: right;
    padding: 30px;
    
}