*{  padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #95A5A6;
}
/* .col{
    margin: auto;
    width: 90%;
} */
.barnav{
    width: 95%; 
    display: flex;
    align-items: center;
    margin: auto;

}
.img-logo{
    width: 65px;
    cursor: pointer;
    margin: 10px 0;
}
.menu-icon{
    width: 50px;
    cursor: pointer;
    display: none;
    margin-left: 10px;
}

nav {
    text-align: center;
    height: 60px;
    width: 390px;
    margin: auto;
    background-color: #EDBB99;
    border-radius: 5px;
}

nav ul li{
    font-size: 20px;
    background: transparent;
    list-style-type: none;
    display: inline-block;
    
}
nav ul li a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: black;
    margin-left: 10px;
}
nav ul li a:hover{
    background:transparent;
    color: #fff;
}
.actual{
    background:transparent;
}
.submenu{
    display: none;
    position: absolute;
    overflow: hidden;
    /* background-color: #EDBB99; */
    width: 150px;
}
.mostrar:hover .submenu{display: block;
}
.row{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 70px 0;
}
.text{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
    
}
.text::after{
    content: '';
    width: 40%;
    position: absolute;
    left: -40px;
    top: 8px;}

.img{
    flex-basis: 40%;
    position: relative;
    display: flex;
    align-items: center;
}
@media only screen and (max-width:700px){

    nav{
        background-color: transparent;
    }
    nav ul{
        width: 100%;
        position: absolute;
        background-color: #EDBB99;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

}